
#main{
//background-color:#f15d58;
color:gray;
padding:10px;
}


#header{
text-align:center;
color:#dcddcd;
font-size:40px;
}

.subheading{
color:gray;
font-size:20px;


}
p{
color:gray;
font-size:15px;
}

#label{
color:white;
}
.text{
color:gray;

}

.navbar {
    color:#dcddcd;
    background-color: #f15d58;
}
.link{
text-align:right;
}
#footer{
padding-left:70px;
padding-right:70px;
color:#dcddcd;
background-color:#f15d58;
clear:both;
border-radius:5px;
}
.footertop{
padding-top:20px;
}

#copyright{
text-align:left;
}

